*body{
    font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif;
}
.nav{
  background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  
}
   
       
        
   

.nav-container{
    max-width: 1400px;
    
  
    min-height: 80px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
  

 
}
.nav-btn-container{
    display: flex;
    align-items: center;
   
}
.nav-btn-container a{
    text-decoration: none;
    margin-left: 20px;
    color: #3C354F;


font-size: 18px;

font-weight: 500;

}
.nav-logo-container{
    display: flex;
    gap: 15px;
    margin-left: 10px;
  
}

.nav-logo{
    width: 60px;
    object-fit: contain;
    
   
}
.logo-title{
    font-size: 34px;
font-style: normal;
font-weight: 700;


}
.pimary-color{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.yt-tiktok-container{
   
    width: 190px;
    height: 30px;

margin-left : 20px;
margin-right: 20px;
padding: 8px;
border-radius: 8px;
background: rgba(11, 2, 35, 0.10)


}
.yt{
    max-width: 20%;
}
.tiktok{
    max-width: 15%;
}
.yt-tiktok-container{
    align-items: center;
    display: flex;
    gap: 10px;
}

  

.banner-container{
 
    max-width: 1400px;
    margin: auto;
    border: 3px solid red;
  
    display: flex;
    gap: 5px;
    
   
    
  }
  .banner-left{
  
    
    background-image: url('../images/Group\ 14.png');
   
    background-repeat: no-repeat;
    height: 550px;
    background-size: 800px;
  
    
  }
  
  
  .banner-left{
    width: 800px;
    height: 550px;
    text-align: center;
    padding-top: 100px;
    
    
  }
  .banner-img{
    height: 620px;
    width: 600px;
    
  }
  
  .banner-text1{
    color: #0B0223;
   


   font-size: 40px;
   font-weight: 600px;
   

   text-transform: uppercase;
  }
  .banner-text2{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
position: relative;
bottom: 60px;

font-size: 95px;

font-weight: 800;

text-transform: uppercase;


  }
  .banner-text3{
    color: #534C64;
    position: relative;
    bottom: 120px;







  }
  .banner-icon1{
    width: 12px;
  }
  .banner-icon2{
    width: 15px;
  }
  .banner-icon3{
    width: 15px;
  }
  .bnr-btn{
    border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
border: none;
padding: 21px 40px;

gap: 10px;
position: relative;
bottom: 120px;
  }
  .third-prt-container{
    max-width: 1400px;
    margin: auto;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    
    border: 2px solid red;
    padding-right: -30px;
   
    
   
    text-align: right;
  
  }
  .third-part-img{
    width: 100%;
   ;
    

  }
  .third-part-right{
    padding-right: 90px;
  }
  .bnr-btn2{
    border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
border: none;
padding: 21px 40px;

  }
  .banner-heading1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;


font-size: 48px;

font-weight: 700;




}
.banner-paragraph{
  
  width: 520px;
  color: #534C64;




font-weight: 400;
line-height: 30px; 



}
.banner-heading2{
  color: #534C64;
  font-size: 20px;
  font-weight: 400px;
 

  
  
 
  line-height: 45px;
   

}
.banner-heading3{
  color: #534C64;

font-size: 32px;

font-weight: 700;
line-height: 45px;
position: relative;
bottom: 20px;
 
}
.fourth-part{
  max-width: 1400px;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.cards-container{
  max-width: 1400px;
  margin: auto;
 
 

}
.fourth-part-heading{
  text-align: center;

}
.fourth-prth1{
  font-size: 40px;

font-weight: 700;
line-height: normal;

}
.fourth-prth1-clr{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Work Sans;
}
.card-container{
  position: relative;
  width: 25%;
}

.card {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  padding-left: 20px;
}

.hover-contnt{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.card-container:hover .card {
  filter: brightness(30%);

}

.card-container:hover .hover-contnt {
  opacity: 1;
 
}

.text {
  background-color: #ca1b1b;
  color: rgb(255, 255, 255);
  font-size: 15px;
  padding: 10px 30px;
 
}







 


/* responsive part of navigation */
/* mobile */
@media screen and (max-width: 576px) {
    html, body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
    }
    .nav-container {
      flex-direction: column;
    }
    .nav-btn-container {
        flex-direction: column;
    }
    .nav-logo-container {
        justify-content: center;
    }
    
    .banner-container{
        flex-direction: column-reverse;
        align-items: center;
      
       
        }
    
       

  
  .banner-left {
   width: 345px;
  margin-left: 28px;
   
   
    
    margin-top: 120px;
   background-size: 350px 400px;
   position: relative;
  
  
  
    }
    .banner-img {
      width: 250px;
     
       height: 50px;
        height: 300px;
      margin-left: -10px;
      position: relative;
      top: 30px;
       
       
        
       
      
       
    }
    .banner-text1 {
        color: #0B0223;
        font-size: 20px;
        
    }
    .banner-text2 {
        font-size: 50px;
       padding-top: 20px;
       padding-bottom: 15px;
    }
    .third-prt-container {

      flex-direction: column;
      text-align: center;
      padding-left: 75px;
      
      
}
.third-part-img {
 position: relative;
 right: 35px;

}

.banner-paragraph{
  line-height: 18px;
  text-align: center;
  width: 100%;
}
.funny-videotxt{
  color: #F948B2;
  
}
.banner-heading1 {
  font-size: 35px;


}
.
.banner-heading2{
  font-size: 17px;
  font-weight: 100px;
}
.banner-heading3{
  width: ;
  font-size: 20px;
  line-height: 15px;
}
 .fourth-part{
  flex-direction: column;
  padding-left: 45px;
  ;

 }
 .fourth-prth1{
  font-size: 20px;
  
 }
 .fourth-paragraph{
  width: 350px;
  padding-left: 18px;
 }
 .card-container{
  position: relative;
  width: 78%;
 
}

.card{
  padding-left: 15px;
}
} 
   

  /* tablet */
  @media screen and (min-width: 576px) and (max-width: 960px){
    .nav-container {
       
  }
  .banner-container {
    flex-wrap: wrap;
}
.banner-left {
  background-size: contain;
}
.banner-img {
 padding-left: 55px;
 
}
.third-prt-container {

  flex-direction: column;
  text-align: center;
  padding-left: 75px;
  
}
.third-part-img {
position: relative;
right: 50px;
}
.fourth-part{
  flex-direction: column;
  padding-left: 28%;
  }
  .card-container{
    position: relative;
    width: 55%;
}
  
